@use "helpers" as *;

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-dark);
  background-color: var(--color-white);
  line-height: 1.5;
}

// ===========================
// 📐 CONTAINER & LAYOUT
// ===========================

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: var(--container-width);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.section {
  padding-block: var(--section-padding-y);
}

// ===========================
// ✒️ TYPOGRAPHY
// ===========================

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.02em;
}
h1 {
  font-size: fluid(32, 76);
  span {
    color: var(--color-accent);
  }
}

h2 {
  font-size: fluid(26, 54);
}

h3 {
  font-size: fluid(20, 28);
}

p,
.text-base {
  font-size: var(--font-size-base);
  color: var(--color-dark);
}

@include large {
  br {
    display: none !important;
  }
}

// ===========================
// 🎯 UTILITIES
// ===========================
.gradient-text {
  background: -webkit-linear-gradient(180deg, rgba(100, 187, 71, 1) 0%, rgba(44, 149, 83, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
