@use "../helpers/" as *;

.choose-us {
  padding-block: rem(20) fluid(40, 60);
  &__container {
    max-width: rem(1050);
  }
  &__header {
    text-align: center;
    margin-bottom: fluid(25, 62);
  }
  &__title {
    margin-bottom: rem(15);
  }
  &__subtitle {
    font-size: fluid(16, 24);
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: fluid(15, 100);
    row-gap: rem(30);
    margin-bottom: fluid(30, 60);
    flex-wrap: wrap;
    &-item {
      flex: 0 0 270px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &-image {
        margin-bottom: fluid(12, 36);
      }
      &-title {
        margin-bottom: fluid(10, 18);
      }
      &-text {
        font-size: fluid(16, 18);
      }
    }
    @include medium {
      column-gap: fluid(15, 40);
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: fluid(15, 150);
    flex-wrap: wrap;
    row-gap: rem(30);

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: fluid(10, 20);

      &-number {
        font-weight: 600;
        font-size: fluid(26, 44);
        line-height: 1;
      }
      &-title {
        font-size: fluid(16, 20);
        font-weight: 300;
      }
    }

    @include medium {
      column-gap: fluid(15, 150);
    }

    @include x-small {
    }
  }
}
