@use "../helpers/" as *;

.dishes {
  &__container {
    max-width: rem(1110);
    padding-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: fluid(25, 60);
    @include large {
      max-width: 100%;
      padding-inline: rem(0);
    }
  }
  &__header {
    text-align: center;
    @include large {
      padding-inline: rem(20);
    }
  }
  &__title {
    margin-bottom: rem(15);
  }
  &__subtitle {
    font-size: fluid(16, 24);
  }
  &__main {
    width: 100%;
    height: 100%;
    margin:rem(-70) rem(-15);
    padding: rem(70) rem(15);
    @include small {
      margin:rem(-30) rem(-15);
      padding: rem(30) rem(15);
    }
    &-item {
    background-color: var(--color-white);
      border-radius: var(--radius-md);
      padding: rem(50) rem(30);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &:nth-child(even) {
        box-shadow: var(--shadow-food-card);
        @include small {
          box-shadow: var(--shadow-client-card);
        }
      }
      &:nth-child(odd) {
        border: var(--border-base);
      }

      &-image {
        margin-bottom: fluid(12, 36);
      }
      &-title {
        margin-bottom: fluid(10, 18);
      }
      &-text {
        font-size: fluid(16, 18);
      }
    }
  }
}
