@use "../helpers" as *;

.header {
 

  padding-block: fluid(15, 30);
  
  &__container {
    max-width: rem(1340);
    margin-inline: auto;
    padding-inline: rem(20);
    
  }
  &__overlay {
    @include above-small {
      display: contents;
    }
    @include medium {
      overflow-y: auto;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      height: 100dvh;
      background-color: white;
      padding: rem(180) rem(15);
      display: flex;
      flex-direction: column;
      gap: rem(48);
      align-items: center;
      transition: var(--transition-base);
      &:not(.is-active) {
        translate: 100%;
      }
    }
  }
  &__burger-button {
    @include above-medium {
      display: none;
    }
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: fluid(15, 40);
  }
  &__logo{
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(5);
    font-size: fluid(14, 16);
    font-weight: 500;
    color: var(--color-accent);
    transition: var(--transition-base);
    img{
      width: fluid(24, 40);
      height: fluid(24, 40);
    }
    @include hover {
      color: var(--color-accent-dark);
    }
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);
    @include small {
      flex-direction: column;
      gap: rem(10);
      
    }
  }
  &__item{
    font-weight: 400;
    @include small {
      font-size: rem(20);
    }
    &.is-active {
      font-weight: 500;
      color: var(--color-white);
      background-color: var(--gray-08);
      border: var(--border-slim-gray-darker);
      border-radius: var(--radius-md);
      pointer-events: none;
      @include small {
        color: var(--color-accent);
        border: var(--border-slim-accent);
      }
    }
    a{
      position: relative;
      
      &::after{
        content: '';
        position: absolute;
        bottom: 2;
        left: 50%;

        display: block;
        width: 0;
        height: 2px;
        background-color: var(--color-accent);
        transform: translate(-50%);
        transition: var(--transition-base);
      }
      @include hover {
        // color: var(--color-accent);
        &::after{
          width: 100%;
        }
      }
    }
  }
}