@use "../helpers/" as *;

.reviews {
  background-color: #fcfcfc;
  &__container {
    max-width: rem(1110);
    padding-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    margin-bottom: fluid(15, 47);
    @include large {
      padding-inline: rem(20);
    }
  }
  &__main {
    width: 100%;
    height: 100%;
    margin: rem(-35) rem(-15);
    padding: rem(35) rem(15);
    
    display: flex;
    flex-direction: column;
    gap: fluid(25, 50);

    &-item {
      padding: fluid(30, 40) rem(25) fluid(30, 60);
      border-radius: var(--radius-sm);
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      gap: fluid(15, 32);
      &.swiper-slide-active {
        box-shadow: var(--shadow-client-card);
      }
    }
    &-navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(18);
      &-arrow {
        color: var(--color-accent-dark);
        &.swiper-button-disabled{
          color: #E1E1E1;
         width: rem(45);
         
        }

        cursor: pointer;
        width: rem(55);
        height: auto;
        &--prev {
          transform: rotate(180deg);
        }
       
      }
    }
    &-header {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: rem(15);
      &-wrapper {
        display: flex;
        align-items: center;
        gap: fluid(10, 35);
      }
      &-content {
        display: flex;
        flex-direction: column;
        gap: rem(5);
      }
      &-image {
        --imageClientSize: #{fluid(75, 91)};
        border-radius: var(--radius-full);
        object-fit: cover;
        width: var(--imageClientSize);
        height: var(--imageClientSize);
      }
      &-quote {
        --quoteSize: #{fluid(65, 86)};
        width: var(--quoteSize);
        height: auto;
        object-fit: cover;
        @include x-small {
          display: none;
        }
      }
      &-title {
        font-size: fluid(16, 19);
        text-transform: uppercase;
      }
      &-text {
        font-size: rem(13);
        color: var(--color-gray-button);
      }
    }

    &-text {
      font-size: fluid(16, 18);
      color: var(--color-gray-button);
    }
  }
}
