<footer class="footer">
  <div class="footer__top">
    <div class="footer__top-container">
      <div class="footer__aside">
        <div class="footer__logo">
          <img src="/images/leaf.svg" alt="Logo" width="94" height="39" />
          HealthyFood
        </div>
        <p class="footer__description">Your journey to health starts on the plate.</p>
      </div>
      <nav class="footer__navigation">
        <ul class="footer__navigation-list">
          <li class="footer__navigation-item">
            <a href="#" class="footer__navigation-link">Home</a>
            <ul class="footer__navigation-sublist">
              <li class="footer__navigation-subitem">
                <a href="#" class="footer__navigation-sublink">Company</a>
              </li>
              <li class="footer__navigation-subitem">
                <a href="#" class="footer__navigation-sublink">News</a>
              </li>
              <li class="footer__navigation-subitem">
                <a href="#" class="footer__navigation-sublink">Team</a>
              </li>
            </ul>
          </li>
          <li class="footer__navigation-item">
            <a href="#" class="footer__navigation-link">About</a>
            <ul class="footer__navigation-sublist">
              <li class="footer__navigation-subitem">
                <a href="#" class="footer__navigation-sublink">History</a>
              </li>
              <li class="footer__navigation-subitem">
                <a href="#" class="footer__navigation-sublink">Service</a>
              </li>
              <li class="footer__navigation-subitem">
                <a href="#" class="footer__navigation-sublink">Pricing</a>
              </li>
            </ul>
          </li>
          <li class="footer__navigation-item">
            <a href="#" class="footer__navigation-link">Partner</a>
            <ul class="footer__navigation-sublist">
              <li class="footer__navigation-subitem">
                <a href="#" class="footer__navigation-sublink">Business</a>
              </li>
              <li class="footer__navigation-subitem">
                <a href="#" class="footer__navigation-sublink">Plan</a>
              </li>
              <li class="footer__navigation-subitem">
                <a href="#" class="footer__navigation-sublink">Marketing</a>
              </li>
            </ul>
          </li>
          <li class="footer__navigation-item">
            <a href="#" class="footer__navigation-link">Contact</a>
            <address class="footer__navigation-sublist footer__navigation-address">
              <a href="tel:(465)954-8487" class="footer__navigation-sublink footer__navigation-address-link"
                >(465)954-8487</a
              >
              <span class="footer__navigation-sublink footer__navigation-address-link">Lahore, Pakistan</span>
            </address>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-container">
      <p class="footer__bottom-text">© Copyright 2025 by HealthyFood. All right reserved.</p>
    </div>
  </div>
</footer>
