<header class="header" data-js-header>
  <div class="header__container">
    <div class="header__content">
      <a class="header__logo" href="#home">
        <img src="/images/leaf.svg" alt="Logo" width="94" height="39" />
        HealthyFood</a
      >
      <div class="header__overlay" data-js-header-overlay>
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__item">
            <a href="#choose-us">Choose us</a>
          </li>
          <li class="header__item">
            <a href="#about">About</a>
          </li>
          <li class="header__item">
            <a href="#fresh-food">Fresh Food</a>
          </li>
          <li class="header__item">
            <a href="#order-dishes">Specials</a>
          </li>
          <li class="header__item">
            <a href="#chefs">Chefs</a>
          </li>
          <li class="header__item">
            <a href="#reviews">Reviews</a>
          </li>
          <li class="header__item">
            <a href="#questions">FAQ</a>
          </li>
        </ul>
      </nav>
      <a href="#order-dishes" class="header__button button button--secondary"> Order Now </a>
      </div>

      <button
        data-js-header-burger-button
        class="header__burger-button burger-button"
        aria-label="Toggle menu"
        title="Toggle menu"
      >
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
      </button>
    </div>
  </div>
</header>
